docx2txt==0.8
langchain==0.3.23
langchain-chroma==0.2.3
langchain-openai==0.3.13
pandas
python-docx
python-dotenv
streamlit
rank_bm25
langchain-community
protobuf>=5.0.0,<6.0.0
opentelemetry-api==1.33.0
opentelemetry-sdk==1.33.0
opentelemetry-semantic-conventions==0.54b0
opentelemetry-exporter-otlp-proto-grpc==1.33.0
chromadb==0.4.13
chroma-hnswlib==0.7.3
